* {
  color: rgb(57, 57, 95);
  /* font-weight: bold; */
  font-family: "Didact Gothic", "Helvetica", sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.siteNav {
  list-style: none;
  margin: 1vw;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

header div {
  display: none;
}
h1 {
  text-align: center;
  padding: 0;
  margin: 0;
}
.titleSpan {
  display: block;
  width: 100%;
  text-align: center;
}
h2 {
  text-decoration: underline;
  font-weight: bold;
  margin: 10px 0 0 10px;
}
ul {
  margin: 8px 10px 10px 30px;
}
li {
  margin: 3px 3px 3px 3px;
}
span,
p,
h3 {
  margin: 0 0 0 10px;
}
