/* Box Model Hack allows your measurement to be inclusive of padding and border*/
* {
    box-sizing: border-box;
  }

/* Clear fix hack note that you have to add the class to the html element in order for it to clear fix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
 }

h1{
    color: black;
    font-family: "Caveat", "Helvetica", sans-serif;
    font-size: 3.5rem;
    margin:0 0 1vw 0.5vw;

}
h2{
    color: rgb(113, 113, 237);
    font-family: "Didact Gothic", "Helvetica", sans-serif;
    font-size: 0.8rem;
    margin:0 0 0 0.5vw;
}

header{
    background-color: rgb(220, 226, 232);
}

.siteNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:2% 2% 0 2%;
}

.siteNavLi{
    list-style: none;
}

main{
    background-image: url("/IMG_4398.jpg") ;
    background-color: green;
    background-size: 100vw;
    height: 70vw;
}

h3{
    text-align: right;
    font-family: "Caveat", "Helvetica", sans-serif;
    font-size: 2rem;
    margin: 0 2vw 0 0;
}

footer{
    float:left;
    background-color: rgb(220, 226, 232);
}
footer * {
    float:left;
}
.footerLeftSide{
    width:50%
}
.footerIconUl{
    width:26%;
    margin:2% 0 0 0;
    padding:0;
}
.footerIconUl li{
    float: left;
    width: 33.33%;
    list-style: none;
}
.footerIconUl li img {
    height: auto;
    max-width: 100%;
}
footer section section{
    width: 100%;
    margin:0 0 0 2%;
}
footer section section *{
    list-style: none;
    float:left;
    width:100%;
    padding:0;
    margin:0;
}
footer section section h6{
    padding-top: 2%;
    padding-bottom: 2%;
}
.footerContactInfo{
    float:right;
    width:50%;
}
.footerContactInfo *{
    width:100%;
    padding:0;
    margin:0 0 0 60%;
}
.footerContactInfo h6 {
    margin-top:10%;
}
